* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #08090a;
  --color-text-main: #ffffff;
}

html {
  font-size: 16px;
}
@font-face {
  font-family: "MyFont";
  src: url("/font/my-font.ttf") format("ttf");
  font-style: normal;
  font-display: swap;
}

body {
  background-color: var(--primary-color);
  font-family:
    "MyFont",
    -apple-system,
    sans-serif;
}


.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 16px;
  z-index: 50;
}

.header-warpper {
  height: 100%;
  width: 100%;
  position: relative;
}

.header-warpper .warpper-child {
  width: 70rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.warpper-child .warpper-child-1 {
  position: relative;
  height: 100%;
  width: 70%;
  max-width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-wapper-nav {
  position: relative;
}

.header-wapper-nav .nav-ul {
  display: flex;
  list-style: none;
  gap: 2.4rem;
}

.nav-ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--color-text-main);
}

.header-btn-box {
  width: 22%;
  position: relative;
  height: 100%;
}

.header-btn-box .btn-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  position: relative;
  gap: 1.8rem;
}

.header-btn-box .btn-box a {
  font-size: 1rem;
  padding: 9px 18px;
  border-radius: 999px;
  cursor: pointer;
  text-decoration: none;
  color: var(--color-text-main);
}

.btn-box a:nth-child(2) {
  background-color: #ffffff;
  color: #08090a;
}
.btn-box a:nth-child(1) {
 
}

/*Hero section*/

.hero {
  height: 100vh;
  width: 100%;
  background: url(https://www.mintlify.com/hero/bg-dark.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.hero-container {
  height: 80vh;
  width: 50%;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items:end;
}

.hero-container .hero-container-wrapper {
  height: 85%;
  width: 100%;
  overflow: hidden;
}

.hero-container-wrapper .container-child {
  height: 95%;
  width: 80%;
  position: relative;
  margin: auto;
  overflow:hidden;
  display: flex;
  align-items: center;
  gap: 3rem;
  flex-direction: column;
}

.container-child .top-box {
  position: relative;
  margin-left: auto; 
  margin-right: auto; 
  display: flex;
  align-items: center;
  padding: 3px 9px;
  border-radius: 999px;
  font-size: .88rem;
  color: var(--color-text-main);
  background: rgba(255, 255, 255, 0.2);
  gap:.5rem;
  width: 63%;
  cursor: pointer;
}

.container-child .top-box:hover {
  background:rgba(255, 255, 255, 0.1);
}

.top-box .new-btn {
  padding: 4px 16px;
  border-radius: 999px;
  background: #0C8C5E;
}

.top-box .top-box-icon-container {
  height: 100%;
  width: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-box-text-warpper {
  display: flex;
  align-items: center;
  gap: .5rem;
  height: 100%;
}

.container-child .bottom-box {
  display: grid;
  height: 60%;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
}

.bottom-box .text-warpper {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text-main);
}

.bottom-box .hero-txt  {
  font-size: 3rem;
}

.extra-padding {
  padding: 0px 4rem;
  text-align: center;
  font-size: 1.123rem;
}

.search-box {
  position: relative;
  height: 100%;
  width: 100%;
  color: var(--color-text-main);
}

.search-box .search-form {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 0px 3.888rem;
}

.search-form input {
  width: 100%;
  position: relative;
  height: 2.5rem;
  border: 0;
  outline: none;
  border-radius: 999px;
  padding-left: 1rem;
  background: rgba(255, 255, 255, 0.2);
  font-size: 1rem;
  color: var(--color-text-main);
}

.search-form input::placeholder {
  color: var(--color-text-main);
}

.search-form button {
  position: absolute;
  top: 50%;
  right: 13.77%;
  height: 80%;
  width: 18%;
  border-radius: 999px;
  border: 0;
  outline: none;
  transform: translateY(-50%);
  font-size: 1rem;
  font-weight: 500;
}

/** Void page*/ 

.void {
  height: 70vh;
  width: 100%;
  position: relative;
}

.center-image {
  height: 125%;
  width: 78%;
  background: url(https://www.mintlify.com/hero/hero-image-dark.svg);
  position: absolute;
  left: 50%;
  top: -50%;
  transform: translateX(-50%) translateY(0%);
  border-radius: 1rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}