* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #08090a;
  --color-text-main: #ffffff;
}

html {
  font-size: 16px;
}
@font-face {
  font-family: "MyFont";
  src: url("/font/my-font.ttf") format("ttf");
  font-style: normal;
  font-display: swap;
}

body {
  background-color: var(--primary-color);
  font-family:
    "MyFont",
    -apple-system,
    sans-serif;
}


.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 16px;
  z-index: 50;
}

.header-warpper {
  height: 100%;
  width: 100%;
  position: relative;
}

.header-warpper .warpper-child {
  width: 70rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.warpper-child .warpper-child-1 {
  position: relative;
  height: 100%;
  width: 70%;
  max-width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-wapper-nav {
  position: relative;
}

.header-wapper-nav .nav-ul {
  display: flex;
  list-style: none;
  gap: 2.4rem;
}

.nav-ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--color-text-main);
}

.header-btn-box {
  width: 22%;
  position: relative;
  height: 100%;
}

.header-btn-box .btn-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  position: relative;
  gap: 1.8rem;
}

.header-btn-box .btn-box a {
  font-size: 1rem;
  padding: 9px 18px;
  border-radius: 999px;
  cursor: pointer;
  text-decoration: none;
  color: var(--color-text-main);
}

.btn-box a:nth-child(2) {
  background-color: #ffffff;
  color: #08090a;
}
.btn-box a:nth-child(1) {
 
}

/*Hero section*/

.hero {
  height: 100vh;
  width: 100%;
  background: url(https://www.mintlify.com/hero/bg-dark.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}